// Colors
$white: #ffffff;
$light-gray: #b4bec4;
$gray: #565656;
$dark-gray: #333333;
$black: #000000;
$text: #1e293b;

// Fonts
// $font-base: 'Inter', sans-serif;

// Sizes
$radius-base: 0.45rem;
$radius-lg: 0.9rem;
